body {
    background-color: rgb(241, 15, 226);
    color: rgb(255, 229, 248);

    font-family: "Story Script", sans-serif;
    margin: 0px;
}

header {
    font-size: 50px;
    text-align: center;

    border-bottom: double 5px pink;
    padding: 30px;
    color: #edad9e
}

h1 {
    font-size: 30px;
    padding-left: 30px;
}

p {
    font-size: 20px;
    padding-left: 30px;
}

.chamada {
    background-color: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

img{
    width: 300px;
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-left: 20px;
}
